.logo {
    width: 220px;
    height: 40px;
    position: absolute;
    top: 10px;
}

.category {
    font-weight: 600;
    font-size: 16px;
    display: inline;
    cursor: pointer;
}

.categoryOnLeft {
    margin-left: 30px;
}

.categoryOnRight {
    float: right;
    margin-right: 30px;
}


.header {
    font-family: "SF Mono";
    height: 60px;
    line-height: 60px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.menuBar {
    top: 60px;
    height: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.openMenu {
    visibility: visible;
}

.hideMenu {
    visibility: hidden;
}


.suffix {
    position: relative;
    left: -60px;
    top: 25px;
    z-index: 90;
}
