.logo {
    width: 200px;
    height: 30px;
    position: absolute;
    top: 10px;
}

.category {
    display: inline-block;
    height: 50px;
    cursor: pointer;
}

.isCheckedCategory {
    border-bottom: 6px solid #3D7FFF;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.mainCategory {
    font-weight: 600;
    font-size: 16px;
}

.subCategory {
    font-weight: 600;
    font-size: 14px;
}

.categoryOnLeft {
    margin-left: 30px;
}

.categoryOnRight {
    float: right;
    margin-right: 30px;
}

.header {
    font-family: "Nanum Gothic";
    height: 50px;
    line-height: 50px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.menuBar {
    font-family: "Nanum Gothic";
    top: 50px;
    height: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.openMenu {
    visibility: visible;
}

.hideMenu {
    visibility: hidden;
}

a {
    text-decoration: none;
    color: black;
}