
.App {
  text-align: center;
}

.App-logo {
  font-family: "SF Mono";
  height: 40vmin;
  pointer-events: none;
}

@font-face { 
  font-family: "SF Mono";
  font-weight: 200;
  font-style: normal;
  src: url(https://github.com/supercomputra/SF-Mono-Font/blob/1409ae79074d204c284507fef9e479248d5367c1/SFMono-Medium.otf);
}
