
.App {
  text-align: center;
}

.App-logo {
  font-family: "SF Mono";
  height: 40vmin;
  pointer-events: none;
}

@font-face { 
  font-family: "SF Mono Regular";
  font-weight: 200;
  font-style: normal;
  src: url("./fonts/SFMono-Regular.otf") format('truetype')
}

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}